<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /prin/y1d13/advanced-web-technologies/grocery-store/
    RewriteCond %{REQUEST_URI} !^/prin/y1d13/advanced-web-technologies/grocery-store/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
